<form action="<?php echo $this->_router->makeUrl( 'content_layout' ); ?>" method="get">
	<?php if ( $this->_router->getType() == 'standard' ) { ?>
		<div><input type="hidden" name="url" value="<?php echo $this->_router->getRawRequestPath(); ?>"></div>
	<?php } ?>
	<p>
		<label for="contentlayoutSite" class="horizontal">{L_[Manage layouts for:]}</label>
		<select id="contentlayoutSite" name="type">
			<option value="main" <?php echo $site_type == 'main' ? 'selected="selected"' : ''; ?>>{L_[Main website]}</option>
			<option value="admin" <?php echo $site_type == 'admin' ? 'selected="selected"' : ''; ?>>{L_[Control panel]}</option>
		</select>
		<input type="submit" value="{L_[Update]}">
	</p>
</form>

<form action="<?php echo $this->_router->makeUrl( 'content_layout', 'manage', 'fpsc' ); ?>" method="post">
	<h3>{L_[Homepage content]}</h3>
	<p>{L_[Select the module you wish to display on your homepage, then configure this further by selecting 'Update & configure'.]}</p>

	<select name="content_layout[module]">
		<?php
			foreach( $modules as $name=>$title ) {
				printf( '<option value="%1$s" %2$s>%3$s</option>',
						$name,
						($name == $fpsc_module ? 'selected="selected"' : ''),
						$title );
			}
		?>
	</select>
	<input type="hidden" name="content_layout[siteType]" value="{SITE_TYPE}">
	<input type="submit" value="{L_[Update & configure]}">
</form>

<form action="<?php echo $this->_router->makeUrl( 'content_layout', 'index', 'delete' ); ?>" method="post">
	<h3>{L_[Layouts]}</h3>
	<p>{L_[Control which modules should appear around your content, such as in the sidebar or menu area of the current theme.]}</p>
	<table id="contentlayout" class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Layout name]}</th>
				<th>{L_[URL/Regex]}</th>
				<th class="managecol">{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php $i = 0; foreach( $layouts as $layout ) { ?>
				<tr class="<?php echo zula_odd_even( $i ); ?>">
					<td class="checkcol">
						<?php
							$default = $layout['name'] == $site_type.'-default';
							printf( '<input type="checkbox" name="layout_names[]" value="%1$s" %2$s>',
									$layout['name'],
									($default ? 'disabled="disabled"' : '')
								  );
						?>
					</td>
					<td><?php
							if ( $default ) {
								echo '<strong>'.t('(Default)').'</strong> ';
							}
							echo $layout['name'];
						?>
					</td>
					<td><?php echo $layout['regex']; ?></td>
					<td class="managecol">
						<a href="<?php echo $this->_router->makeUrl( 'content_layout', 'manage', $layout['name'] ); ?>" title="{L_[Edit layout]}">{L_[Edit]}</a>
						<a href="<?php echo $this->_router->makeUrl( 'content_layout', 'index', 'add', null, array('clone' => $layout['name']) ); ?>">{L_[Clone layout]}</a>
					</td>
				</tr>
				<?php $i++; } ?>
		</tbody>
	</table>
	<?php if ( count( $layouts ) > 1 ) { ?>
		{CSRF}
		<div class="actions">
			<input type="submit" value="{L_[Delete selected]}">
		</div>
	<?php } ?>
</form>
