<p>{L_[Enter the details for the first user. This user will have full control over everything.]}</p>

<form action="" method="post">
	<p>
		<label for="username">{L_[Username]}</label> <input type="text" name="username" id="username" value="{username}">
	</p>
	<p>
		<label for="password">{L_[Password]}</label> <input type="password" name="password" id="password" value="{password}">
	</p>
	<p>
		<label for="password2">{L_[Confirm password]}</label> <input type="password" name="password2" id="password2">
	</p>
	<p>
		<label for="email">{L_[Email]}</label> <input type="email" name="email" id="email" value="{email}">
	</p>
	<p>
		<label for="email2">{L_[Confirm email]}</label> <input type="email" name="email2" id="email2">
	</p>
	<div class="actions">
		<input type="submit" value="{L_[Next]}">
	</div>
</form>
