<form action="" method="post">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Provider/Website]}</dt>
						<dd>{L_[Select the external service you wish to get a video from.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="media[external_service]">
						<option value="youtube">YouTube</option>
					</selecT>
				</td>
			</tr>

			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Video ID or name]}</dt>
						<dd>{L_[Enter the unique id or name of the video. For example, with YouTube enter a value similar to]} <a href="http://www.youtube.com/watch?v=oHg5SJYRHA0">oHg5SJYRHA0</a></dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="media[external_id]" value="{MEDIA.EXTERNAL_ID}">
				</td>
			</tr>

			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Title (optional)]}</dt>
						<dd>{L_[If left blank, the title of the external video will be used]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="media[title]" value="{MEDIA.TITLE}">
				</td>
			</tr>
		</tbody>
	</table>

	<div>
		<hr>
		<label for="media-description">{L_[Enter the description you would like to be displayed (optional)]}</label>
		<textarea name="media[desc]" id="media-description" rows="30" cols="20">{MEDIA.DESC}</textarea>
	</div>

	<div class="actions">
		<input type="hidden" name="media[cid]" value="{MEDIA.CID}">
		<input type="submit" value="{L_[Add external media]}">
	</div>

</form>
