<form action="<?php echo $this->_router->makeUrl( 'media', 'add', 'upload' ); ?>" method="post" enctype="multipart/form-data">
	<div class="help helpInfo">
		<p><?php printf( t('The maximum filesize that can be uploaded is %s'), zula_human_readable($max_fs) ); ?></p>
	</div>
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Media file]}</dt>
						<dd>
							<?php
								$str = t('Select any image, video or audio file to upload.');
								if ( $zip_supported ) {
									$str .= ' '.t('A "zip" archive containing multiple files can also be uploaded.');
								}
								echo $str;
							?>
						</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="file" name="media_file">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Thumbnail image (optional)]}</dt>
						<dd>{L_[A thumbnail will automatically be generated if an image has not been selected here.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="file" name="media_thumb">
				</td>
			</tr>
		</tbody>
	</table>

	{csrf}
	<div class="actions">
		<input type="hidden" name="media[cid]" value="{cid}">
		<input type="submit" value="{L_[Upload media]}">
	</div>
</form>

<h3>{L_[Or, add a video from YouTube]}</h3>
<form action="<?php echo $this->_router->makeUrl( 'media', 'add', 'external' ); ?>" method="post">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[YouTube URL]}</dt>
						<dd>{L_[Enter the YouTube URL of the video you wish to add.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="media[external][youtube_url]" value="">
				</td>
			</tr>
		</tbody>
	</table>

	{csrf}
	<div class="actions">
		<input type="hidden" name="media[external][service]" value="youtube">
		<input type="hidden" name="media[cid]" value="{cid}">
		<input type="submit" value="{L_[Add YouTube video]}">
	</div>
</form>