<form action="" method="post" enctype="multipart/form-data">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Media File]}</dt>
						<dd>{L_[Select any image, video or audio file to upload.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="hidden" name="MAX_FILE_SIZE" value="{MAX_FS}">
					<input type="file" name="media_file">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Thumbnail Image (optional)]}</dt>
						<dd>{L_[A thumbnail will automatically be generated if an image has not been selected here.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="file" name="media_thumb">
				</td>
			</tr>
		</tbody>
	</table>

	<div class="actions">
		<input type="hidden" name="media[cid]" value="{MEDIA.CID}">
		<input type="submit" value="{L_[Upload Media]}">
	</div>

</form>
