<form action="" method="post" enctype="multipart/form-data">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Media file]}</dt>
						<dd>
							<?php
								$str = t('Select any image, video or audio file to upload.');
								if ( $zip_supported ) {
									$str .= ' '.t('A "zip" archive containing multiple files can also be uploaded.');
								}
								echo $str;
							?>
						</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="hidden" name="MAX_FILE_SIZE" value="{max_fs}">
					<input type="file" name="media_file">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Thumbnail image (optional)]}</dt>
						<dd>{L_[A thumbnail will automatically be generated if an image has not been selected here.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="file" name="media_thumb">
				</td>
			</tr>
		</tbody>
	</table>

	<div class="actions">
		<input type="hidden" name="media[cid]" value="{media.cid}">
		<input type="submit" value="{L_[Upload media]}">
	</div>

</form>
