###
## Zula Framework .htaccess file
###

### Override some PHP settings that can't be done at runtime
<IfModule mod_php5.c>
	php_flag magic_quotes_gpc	off
	php_flag register_globals	off
</IfModule>

### Rewrite Rules, used with 'SEF' routers
<IfModule mod_rewrite.c>
	RewriteEngine on

	# The following RewriteBase needs changing if Zula Framework
	# is running within a subdirectory (can also be the cause of
	# 500/Internal Server Errors).
	#
	# e.g. running in a subdir of /zula-framework use the following:
	# RewriteBase /zula-framework
	#
	#RewriteBase /

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?url=$1 [QSA]
</IfModule>

### Stop people accessing various directories
<IfModule mod_alias.c>
	# If running in a subdirectory you will need to change "^/" to
	# "^/subdirectory/"
	#
	# e.g. running in subdir of /zula-framework:
	# RedirectMatch 403 ^/zula-framework/tmp/js?$
	#
	RedirectMatch 403 ^/application/(?!(modules/.*?/assets/?))
	RedirectMatch 403 ^/assets/uploads/media/(?!(wm\.png|wm_thumb\.png))
	RedirectMatch 403 ^/config/.*?/?
	RedirectMatch 403 ^/tmp/(?:cache|media|sysinfo|uploader)/?
	RedirectMatch 403 ^/tmp/js/?$
</IfModule>
