<form method="post" action="">
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Title]}</th>
				<th>{L_[Status]}</th>
				<th class="managecol">{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php if ( !$count ) { ?>
				<tr class="even">
					<td colspan="4">{L_[No polls to display.]}</td>
				</tr>
			<?php } else { $i = 0; foreach( $polls as $poll ) {
					$edit_url = $this->_router->makeUrl( 'poll', 'config', 'editpoll', null, array( 'id' => $poll['id'] ) );
					$add_url = $this->_router->makeUrl( 'poll', 'config', 'addop', null, array( 'id' => $poll['id'] ) );
			?>
					<tr class="<?php echo zula_odd_even($i); ?>">
						<td class="checkcol">
							<input type="checkbox" name="poll_ids[]" value="<?php echo $poll['id']; ?>">
						</td>
						<td>
							<a href="<?php echo $this->_router->makeUrl( 'poll', 'view', $poll['id'], 'main' ); ?>" title="{L_[View poll]}"><?php echo $poll['title']; ?></a>
						</td>
						<td>
							<?php echo $poll['status'] == 'active' ? t('Active') : t('Closed'); ?>
						</td>
						<td class="managecol">
							<a href="<?php echo $this->_router->makeUrl( 'poll', 'config', 'edit', null, array('id' => $poll['id']) ); ?>">{L_[Edit]}</a> |
							<a href="<?php echo $this->_router->makeUrl( 'poll', 'config', 'addopt', null, array('id' => $poll['id']) ); ?>">{L_[Add option]}</a>
						</td>
					</tr>
			<?php $i++; } } ?>
		</tbody>
	</table>

	<?php if ( $count ) { ?>
		{PAGINATION}
		<div class="actions"><input type="submit" value="{L_[Delete selected]}"></div>
		{CSRF}
	<?php } ?>
</form>