<?php if ( empty( $outstanding ) ) { ?>
	<p>{L_[There are no media items to display.]}</p>
<?php } else { ?>
	<form action="" method="post">
		<table id="mediaOutstanding" class="contentdata">
			<thead>
				<tr>
					<th>{L_[Thumbnail]}</th>
					<th>{L_[Title]}</th>
					<th>{L_[Description (optional)]}</th>
				</tr>
			</thead>
			<tbody>
				<?php $i = 0; foreach( $outstanding as $key=>$item ) { ?>
					<tr class="<?php echo zula_odd_even($i++); ?>">
						<td>
							<img src="<?php echo $this->_router->makeUrl( 'media', 'view', $item['identifier'] )->queryArgs( array('f' => 'thumb') ); ?>" alt="<?php echo $item['name']; ?>">
						</td>
						<td class="confcol">
							<input type="text" name="media[item][<?php echo $key; ?>][name]" placeholder="{L_[Enter a short title...]}" value="<?php echo $item['name']; ?>">
						</td>
						<td class="confcol">
							<textarea name="media[item][<?php echo $key; ?>][desc]"><?php echo $item['description']; ?></textarea>
						</td>
					</tr>
				<?php } ?>
			</tbody>
		</table>
		<div class="actions">
			<input type="hidden" name="media[cid]" value="{CID}">
			<input type="submit" value="{L_[Complete upload]}">
		</div>
	</form>
<?php } ?>