<table>
	<tbody>
	<tr class="even">
		<td>
			<dl>
				<dt>{L_[Poll]}</dt>
				<dd>{L_[Select the poll you want to display.]}</dd>
			</dl>
		</td>
		<td class="confcol">
			<select name="content_layout[section]">
			<?php
				foreach( $polls as $poll ) {
					printf( '<option value="%1$d" %2$s>%3$s</option>',
							 $poll['id'],
							 ($poll['id'] == $current ? 'selected="selected"' : ''),
							 $poll['title']
						  );
				}
			?>
			</select>
		</td>
	</tr>
	<tbody>
</table>

<div>
	<input type="hidden" name="content_layout[cntrlr]" value="view">
</div>
