<div id="usersProfile" class="columnWrap">
	<div id="usersProfileInfo" class="column">
		<h3>{L_[User info]}</h3>
		<dl>
			<dt><img src="<?php echo $avatar; ?>" /></dt>
			<dt>{L_[Username]}</dt>
			<dd><?php echo $username; ?></dd>
			<dt>{L_[Group]}</dt>
			<dd><?php echo $group_name; ?></dd>
			<dt>{L_[Joined]}</dt>
			<dd><?php echo $this->_date->format( $joined ); ?></dd>
			<dt>{L_[Last logged in]}</dt>
			<dd><?php echo empty($last_login) ? t('Unknown') : $this->_date->format( $last_login ); ?></dd>
		</dl>
	</div>
	<div id="usersProfileContact" class="column">
		<h3>{L_[Contact Info]}</h3>
		<dl>
			<?php if ( !empty( $first_name ) ) { ?>
				<dt>{L_[First name]}</dt>
				<dd><?php echo $first_name; } ?>
			<?php if ( !empty( $last_name ) ) { ?>
				<dt>{L_[Last name]}</dt>
				<dd><?php echo $last_name; } ?>
			<dt>{L_[Email address]}</dt>
				<dd><?php echo $email; ?></dd>
		</dl>
	</div>
</div>
