<table>
	<thead>
		<tr>
			<th>{L_[Username]}</th>
			<th>{L_[Joined]}</th>
			<th>{L_[Group]}</th>
			<th>{L_[Email]}</th>
			<th>{L_[Profile]}</th>
		</tr>
	</thead>
	<tbody>
		<?php $i=0; foreach( $users as $user ) { ?>
			<tr class="<?php echo zula_odd_even( $i ); ?>">
				<td><?php echo $user['username']; ?></td>
				<td><?php echo $this->_date->format( $user['joined'] ); ?></td>
				<td><?php echo $user['group_name']; ?></td>
				<td><?php echo $user['email']; ?></td>
				<td><?php echo $this->_helper('user')->link($user['id'], t('View profile')); ?></td>
			</tr>
		<?php $i++; } ?>
	</tbody>
</table>

{pagination}

