<form action="{ACTION}" method="post">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Enable comment moderation?]}</dt>
						<dd>{L_[If set, all comments will need to be approved before they are shown.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="radio" id="comments-moderate-yes" name="comments[moderate]" value="1"
						  <?php echo $comments['moderate'] ? 'checked="checked"' : ''; ?>>
					<label for="comments-moderate-yes" class="horizontal">{L_[Yes]}</label>
					<br>
					<input type="radio" id="comments-moderate-no" name="comments[moderate]" value="0"
						  <?php echo $comments['moderate'] ? '' : 'checked="checked"' ?>>
					<label for="comments-moderate-no" class="horizontal">{L_[No]}</label>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="actions">
		<input type="submit" value="{L_[Update]}">
	</div>
</form>