<?php if ( $this->_config->get( 'article/show_cat_desc' ) && !empty( $cat_details['description'] ) ) { ?>
	<dl class="article-category-desc">
		<dt>{L_[Category description]}</dt>
		<dd>{CAT_DETAILS.DESCRIPTION}</dd>
	</dl>
<?php } ?>

<?php
	if ( empty( $articles ) ) {
		echo '<p>', t('No articles to display'), '</p>';
	} else {
		foreach( $articles as $article ) {
		?>
			<div class="article">
				<h4 class="articleTitle">
					<a href="<?php echo $this->_router->makeUrl( 'article', 'view', $article['identifier'] ); ?>" title="{L_[View article]}">
						<?php echo zula_htmlspecialchars( $article['title'] ); ?>
					</a>
				</h4>
				<?php if ( $meta_format ) { ?>
					<p class="articleMeta">
						<?php
							$catLink = $this->_router->makeUrl( 'article', 'cat', $article['category_identifier'] );
							printf( $meta_format,
									$this->_date->format( $article['date'] ),
									$this->_helper('user')->link( $article['author'] ),
									'<a href="'.$catLink.'">'.$article['category_title'].'</a>'
									);
						?>
					</p>
				<?php } ?>
				<div class="articleBody">
					<?php echo $article['body']; ?>
				</div>
				<hr class="articleSeparator">
			</div>
<?php } } ?>

{PAGINATION}