<form action="" method="post" >
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Form name]}</th>
				<th>{L_[Email address]}</th>
				<th class="managecol">{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php if ( !$count ) { ?>
				<tr class="even">
					<td colspan="4">{L_[No contact forms to display.]}</td>
				</tr>
			<?php } else { $i = 0; foreach( $forms as $form ) { ?>
				<tr class="<?php echo zula_odd_even($i); ?>">
					<td class="checkcol">
						<input type="checkbox" name="contact_ids[]" value="<?php echo $form['id']; ?>">
					</td>
					<td>
						<a href="<?php echo $this->_router->makeUrl( 'contact', 'index', $form['id'], 'main' ); ?>">
							<?php echo zula_snippet( $form['name'], 80, true ); ?>
						</a>
					</td>
					<td><?php echo $form['email']; ?></td>
					<td class="managecol">
						<a href="<?php echo $this->_router->makeUrl( 'contact', 'config', 'edit', null, array('id' => $form['id']) ); ?>">{L_[Edit]}</a> |
						<a href="<?php echo $this->_router->makeUrl( 'contact', 'config', 'addfield', null, array('id' => $form['id']) ); ?>">{L_[Add field]}</a>
					</td>
				</tr>
			<?php ++$i; } } ?>
		</tbody>
	</table>

	<?php if ( $count ) { ?>
		{PAGINATION}
		<div class="actions"><input type="submit" value="{L_[Delete selected]}"></div>
		{CSRF}
	<?php } ?>
</form>