<?php if ( $body ) { ?>
	<div id="contactBody">{body}</div>
<?php } ?>

<?php if ( empty( $fields ) ) { ?>
	<p>{L_[There are no fields for this contact form]}</p>
<?php } else { ?>
	<form action="" method="post" id="contactForm">
		<p>
			<label for="contactFieldEmail"><span>*</span> {L_[Your email address]}</label>
			<input type="email" id="contactFieldEmail" name="contact[email]" value="{contact.email}">
		</p>
		<?php
			$html = new Html( 'contact[fields][%s]' );
			foreach( $fields as $field ) {
				if ( $field['required'] ) {
					$field['name'] = '<span>*</span> '.$field['name'];
				}
				$default = $contact['fields'][ $field['id'] ];
				switch( $field['type'] ) {
					case 'password':
						$element = $html->inputPassword( $field['id'], $default, 'contactField'.$field['id'] );
						break;
					case 'textarea':
						$element = $html->textarea( $field['id'], $default, 'contactField'.$field['id'] );
						break;
					case 'radio':
						$element = $html->radio( $field['id'], $default, $field['options'] );
						break;
					case 'checkbox':
						$element = $html->checkbox( $field['id'], $default, $field['options'] );
						break;
					case 'select':
						$element = $html->select( $field['id'], $default, $field['options'] );
						break;
					case 'textbox':
					default:
						$element = $html->input( $field['id'], $default, 'contactField'.$field['id'] );
				}
				printf( '<p><label for="contactField%1$d">%2$s</label>%3$s</p>',
						$field['id'],
						$field['name'],
						$element
					  );
			}
		?>
		{ANTISPAM}
		<div class="actions">
			<input type="submit" value="{L_[Submit form]}">
		</div>
	</form>
<?php } ?>
