<table>
	<tbody>
		<tr class="even">
			<td>
				<dl>
					<dt>{L_[Page]}</dt>
					<dd>{L_[Select the page you want to display]}</dd>
				</dl>
			</td>
			<td class="confcol">
				<select name="content_layout[section]">
				<?php
					try {
						$curPage = $this->_input->post( 'sec' );
					} catch ( Input_KeyNoExist $e ) {
						$curPage = null;
					}
					foreach( $pages as $page ) {
						printf( '<option value="%1$s" %2$s>%3$s</option>',
								$page['identifier'],
								($curPage == $page['identifier'] ? 'selected="selected"' : ''),
								$page['title']
							   );
					}
				?>
				</select>
			</td>
		</tr>
	</tbody>
</table>

<div>
	<input type="hidden" name="content_layout[cntrlr]" value="index">
</div>
