<?php if ( !empty( $aliases ) ) { ?>
	<div class="jsSearchBox">
		<p><label class="horizontal" for="aliasesFilter">{L_[Search aliases:]}</label> <input type="search" id="aliasesFilter"></p>
	</div>
<?php } ?>
<form method="post" action="<?php echo $this->_router->makeUrl( 'aliases', 'index', 'delete' ); ?>">
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Alias]}</th>
				<th>{L_[Real URL]}</th>
				<th>{L_[Redirect?]}</th>
				<th class="managecol">{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php if ( empty( $aliases ) ) { ?>
				<tr class="even">
					<td colspan="5">{L_[No URL aliases configured.]}</td>
				</tr>
			<?php } else { $i = 0; foreach( $aliases as $alias ) { ?>
				<tr class="<?php echo zula_odd_even( $i ); ?>">
					<td class="checkcol">
						<input type="checkbox" name="alias_ids[]" value="<?php echo $alias['id']; ?>">
					</td>
					<td>
						<a href="<?php echo $this->_router->makeUrl( '/'.$alias['alias'] ); ?>">
							<?php echo $alias['alias']; ?>
						</a>
					</td>
					<td>
						<?php
							if ( zula_url_has_scheme( $alias['url'] ) ) {
								$url = $alias['url'];
							} else {
								$url = $this->_router->getBaseUrl();
								if ( $this->_router->getType() == 'standard' ) {
									$base .= 'index.php?url=';
								}
								$url .= $alias['url'];
							}
						?>
						<a href="<?php echo $url; ?>">
							<?php echo $alias['url']; ?>
						</a>
					</td>
					<td><?php echo $alias['redirect'] ? t('Yes') : t('No'); ?></td>
					<td class="managecol">
						<a href="<?php echo $this->_router->makeUrl( 'aliases', 'index', 'edit', null, array( 'id' => $alias['id'] ) ); ?>" title="{L_[Edit alias]}">{L_[Edit]}</a>
					</td>
				</tr>
			<?php $i++; } } ?>
		</tbody>
	</table>

	<?php if ( !empty( $aliases ) ) { ?>
		{PAGINATION}
		<div class="actions"><input type="submit" value="{L_[Delete selected]}"></div>
		{CSRF}
	<?php } ?>
</form>


