<p>{L_[Please ensure you have set the correct permissions on the below files/directories so they are writable, and the required PHP extensions are installed/enabled.]}</p>

<table>
	<thead>
		<tr>
			<th>{L_[Item]}</th>
			<th>{L_[Result]}</th>
		</tr>
	</thead>
	<tbody>
		<?php
			foreach( $checks as $name=>$details ) {
				echo '<tr class="subheading"><td colspan="2">', $name ,'</td></tr>';
				$i = 0;
				foreach( $details['values'] as $item=>$passed ) {
					echo '<tr class="', zula_odd_even($i++), '"><td>', $item, '</td>';
					if ( $passed ) {
						echo '<td><span style="color: green;">', t('Pass'), '</span></td>';
					} else {
						echo '<td><strong style="color: red;">', t('Fail'), '</strong></td>';
					}
					echo '</tr>';
				}
			}
		?>
	</tbody>
</table>

<div class="actions">
	<a href="<?php echo $this->_router->makeUrl('install', 'checks'); ?>" class="button" title="{L_[Retry]}">{L_[Retry]}</a>
</div>