<p>{L_[Enter the details needed to connect to the SQL database you wish to use. Please make sure this database exists first.]}</p>

<form action="" method="post">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[SQL host]}</strong>
						<dd>{L_[Enter the SQL host to attempt to connect to. Default 'localhost']}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="type" name="host" value="{host}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[SQL port]}</strong>
						<dd>{L_[The port to connect to. Default '3306']}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" min="1" name="port" value="{port}">
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[SQL username]}</strong>
						<dd>{L_[The username to use when connecting to the SQL database]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="user" value="{user}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[SQL password]}</strong>
						<dd>{L_[Password to be used for the above user]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="password" name="pass">
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[SQL database]}</strong>
						<dd>{L_[The database that will be selected once connected]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="dbname" value="{dbname}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Table prefix]}</strong>
						<dd>{L_[Prefix to use for tables, if any. Default 'tcm_']}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="prefix" value="{prefix}">
				</td>
			</tr>
		</tbody>
	</table>
	<div class="actions">
		<input type="submit" value="{L_[Next]}">
	</div>
</form>
