<?php
	if ( empty( $articles ) ) {
		echo '<p>'.t('There are no headlines to display').'</p>';
	} else { ?>
		<dl class="articleHeadlines">
			<?php foreach( $articles as $article ) { ?>
				<dt>
					<a href="<?php echo $this->_router->makeUrl( 'article', 'view', $article['identifier'] ); ?>" title="{L_[View article]}">
						<?php echo zula_snippet( $article['title'], 35, true ); ?>
					</a>
				</dt>
				<dd class="articleMeta">
					<?php
						if ( $meta_format ) {
							$catLink = $this->_router->makeUrl( 'article', 'cat', $categories[ $article['cat_id'] ]['identifier'] );
							printf( $meta_format,
									$this->_date->format( $article['date'] ),
									$this->_helper('user')->link( $article['author'] ),
									'<a href="'.$catLink.'">'.$categories[ $article['cat_id'] ]['identifier'].'</a>'
									);
						}
					?>
				</dd>
			<?php } ?>
		</dl>
		<?php
			if ( count( $articles ) < $article_count ) {
				$url = $this->_router->makeUrl( 'article' );
				if ( isset( $category['identifier'] ) ) {
					$url->controller( 'cat' )
						->section( $category['identifier'] );
				}
				printf( '<a href="%1$s">%2$s &raquo;</a>', $url, t('View more articles') );
			}
		?>
<?php } ?>
