<table>
	<tbody>
		<tr class="even">
			<td>
				<dl>
					<dt>{L_[Contact form]}</dt>
					<dd>{L_[Select the contact form you wish to display]}</dd>
				</dl>
			</td>
			<td class="confcol">
				<select name="content_layout[section]">
				<?php
					foreach( $forms as $form ) {
						printf( '<option value="%1$s" %2$s>%3$s</option>',
								$form['identifier'],
								($this->_input->post('sec') == $form['identifier'] ? 'selected="selected"' : ''),
								$form['name'] );
					}
				?>
				</select>
			</td>
		</tr>
	</tbody>
</table>

<div>
	<input type="hidden" name="content_layout[cntrlr]" value="form">
</div>
