<form action="" method="get">
	<?php if ( $this->_router->getType() == 'standard' ) { ?>
		<div><input type="hidden" name="url" value="<?php echo $this->_router->getRawRequestPath(); ?>"></div>
	<?php } ?>
	<p>
		<label for="theme-site-select" class="horizontal">{L_[Change theme for:]}</label>
		<select id="theme-site-select" name="type">
			<option value="main" <?php echo $site_type == 'main' ? 'selected="selected"' : ''; ?>>{L_[Main website]}</option>
			<option value="admin" <?php echo $site_type == 'admin' ? 'selected="selected"' : ''; ?>>{L_[Control panel]}</option>
		</select>
		<input type="submit" value="{L_[Update]}">
	</p>
</form>

<form action="<?php echo $this->_router->makeUrl( 'theme', 'index', 'update' ); ?>" method="post">
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Title]}</th>
				<th>{L_[Author]}</th>
				<th>{L_[Used as default?]}</th>
				<th class="managecol">{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php
				$i=0;
				foreach( $themes as $theme ) {
					$themeObj = new Theme( $theme );
					$classes = zula_odd_even( $i++ );
					if ( $theme == $current ) {
						$classes .= ' themeCurrent';
						$isDefault = true;
					} else {
						$isDefault = false;
					}
					// Title to display
					$title = $themeObj->getDetail( 'title' );
					if ( ($style = $themeObj->getDetail('style')) !== '' ) {
						$title .= " ($style)";
					}
				?>
				<tr class="<?php echo $classes ?>">
					<td class="checkcol">
						<input type="radio" name="theme" value="<?php echo $theme; ?>">
					</td>
					<td>
						<dl>
							<dt><?php echo $title; ?></dt>
							<dd><?php echo $themeObj->getDetail( 'description' ); ?></dd>
						</dl>
					<td><?php echo $themeObj->getDetail( 'author' );  ?></td>
					<td><?php echo $isDefault ? t('Yes') : ''; ?></td>
					<td class="managecol">
						<a href="<?php echo $this->_router->makeUrl( 'theme', 'css', $theme ); ?>" title="{L_[Edit CSS]}">{L_[Edit CSS]}</a>
					</td>
				</tr>
			<?php } ?>
		</tbody>
	</table>
	<div class="actions">
		<input type="hidden" name="theme_site_type" value="{site_type}">
		<input type="submit" value="{L_[Use selected as default]}">
	</div>
	{CSRF}
</form>
