<form action="<?php echo $this->_router->makeUrl( 'media', 'config', 'settings' ); ?>" method="post" enctype="multipart/form-data">
	<table>
		<thead>
			<tr>
				<th colspan="2">{L_[Display]}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Media items per page]}</dt>
						<dd>{L_[Set how many media items to display per page.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" name="media[per_page]" value="{media.per_page}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Use a lightbox effect for images?]}</dt>
						<dd>{L_[If set to 'Yes', a lightbox effect will be used when displaying the large media item.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="radio" id="mediaLbYes" name="media[use_lightbox]" value="1" <?php echo $media['use_lightbox'] ? 'checked="checked"' : ''; ?>>
					<label class="horizontal" for="mediaLbYes">{L_[Yes]}</label>
					<br>
					<input type="radio" id="mediaLbNo" name="media[use_lightbox]" value="0" <?php echo $media['use_lightbox'] ? '' : 'checked="checked"'; ?>>
					<label class="horizontal" for="mediaLbNo">{L_[No]}</label>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="2">{L_[Files sizes and image dimensions]}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Maximum file size]}</dt>
						<dd>{L_[The maximum file size allowed for an upload file.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" name="media[max_fs]" value="<?php echo (float) zula_human_readable( $media['max_fs'] ); ?>">
					<select name="media[max_fs_unit]">
						<option value="k" <?php echo $media['max_fs'] >= 1048576 ? '' : 'selected="selected"'; ?>>KiB</option>
						<option value="m" <?php echo $media['max_fs'] >= 1048576 ? 'selected="selected"' : ''; ?>>MiB</option>
					</select>
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Thumbnail width/height]}</dt>
						<dd>{L_[Thumbnails generated will be resized proportionally to the size set here.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" min="20" max="200" step="5" name="media[thumb_dimension]" value="{media.thumb_dimension}"> px
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Maximum width of displayed images]}</dt>
						<dd>{L_[Large versions of images displayed to users will never exceed the width set here.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" min="200" max="90000" step="100" name="media[max_image_width]" value="{media.max_image_width}"> px
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="2">{L_[Image watermark]}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Upload from your computer]}</dt>
						<dd>{L_[Select an image to upload (this will replace any existing watermark uploaded).]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<?php if ( $wm_thumb_path ) { ?>
						<img src="{wm_thumb_path}" alt="{L_[Current watermark]}">
						<input type="checkbox" name="media_wm_delete" id="mediaWmDelete">
						<label class="horizontal" for="mediaWmDelete">{L_[Delete image]}</label>
					<?php } ?>
					<input type="file" name="media_wm">
				</td>
			</tr>
			<tr class="odd">
					<td>
						<dl>
							<dt>{L_[Watermark position]}</dt>
							<dd>{L_[Select where the uploaded watermark should appear on images.]}</dd>
						</dl>
					</td>
					<td class="confcol">
						<select name="media[wm_position]">
							<?php
								$opts = array(
											't'		=> t('Top'),
											'tr'	=> t('Top right'),
											'r'		=> t('Right'),
											'br'	=> t('Bottom right'),
											'b'		=> t('Bottom'),
											'bl'	=> t('Bottom left'),
											'l'		=> t('Left'),
											'tl'	=> t('Top Left'),
											);
								foreach( $opts as $key=>$val ) {
									printf( '<option value="%1$s" %2$s>%3$s</option>',
											 $key,
											 ($key == $media['wm_position'] ? 'selected="selected"' : ''),
											 $val
											);
								}
							?>
						</select>
					</td>
				</tr>
		</tbody>
	</table>

	<div class="actions">
		<input type="submit" value="{L_[Update]}">
	</div>
</form>
