<form action="<?php echo $this->_router->makeUrl( 'media', 'config', 'settings' ); ?>" method="post">
	<table>
		<thead>
			<tr>
				<th colspan="2">{L_[Display]}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Media items per page]}</dt>
						<dd>{L_[Set how many media items to display per page.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" name="media[per_page]" value="{media.per_page}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Use a lightbox effect for images?]}</dt>
						<dd>{L_[If set to 'Yes', a lightbox effect will be used when displaying the large media item.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="radio" id="mediaLbYes" name="media[use_lightbox]" value="1" <?php echo $media['use_lightbox'] ? 'checked="checked"' : ''; ?>>
					<label class="horizontal" for="mediaLbYes">{L_[Yes]}</label>
					<br>
					<input type="radio" id="mediaLbNo" name="media[use_lightbox]" value="0" <?php echo $media['use_lightbox'] ? '' : 'checked="checked"'; ?>>
					<label class="horizontal" for="mediaLbNo">{L_[No]}</label>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="2">{L_[Files sizes and image dimensions]}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Maximum file size]}</dt>
						<dd>{L_[The maximum file size allowed for an upload file.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" name="media[max_fs]" value="<?php echo (float) zula_human_readable( $media['max_fs'] ); ?>">
					<select name="media[max_fs_unit]">
						<option value="k" <?php echo $media['max_fs'] >= 1048576 ? '' : 'selected="selected"'; ?>>KiB</option>
						<option value="m" <?php echo $media['max_fs'] >= 1048576 ? 'selected="selected"' : ''; ?>>MiB</option>
					</select>
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Thumbnail width]}</dt>
						<dd>{L_[Thumbnails generated will not exceed the width set here.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" min="20" max="200" step="5" name="media[max_thumb_width]" value="{media.max_thumb_width}"> px
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Maximum width of displayed images]}</dt>
						<dd>{L_[Large versions of images displayed to users will never exceed the width set here.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" min="200" max="90000" step="100" name="media[max_image_width]" value="{media.max_image_width}"> px
				</td>
			</tr>
		</tbody>
	</table>

	<div class="actions">
		<input type="submit" value="{L_[Update]}">
	</div>
</form>
