<div class="comments">
	<h3>
		<a id="comments">
			<?php
				$count = count($comments);
				printf( nt('%1$s comment for "%2$s"', '%1$s comments for "%2$s"', $count), number_format($count), $title );
			?>
		</a>
	</h3>

	<?php if ( empty($comments) ) { ?>
		<p>{L_[There are currently no comments.]}</p>
	<?php } else { ?>
		<ol class="comments-list">
			<?php
				$format = '<li id="comment-%1$d" class="%2$s">
								<div class="comments-header">
									<div class="comments-author">%3$s</div>
									<div class="comments-meta">%4$s</div>
								</div>
								<div class="comments-body">%5$s</div>
							</li>';
				$i = 0;
				foreach( $comments as $comment ) {
					$prefix = '';
					if ( $comment['user_id'] == Ugmanager::_GUEST_ID ) {
						$prefix = '<span class="prefix">('.t('Guest').') </span>';
					}
					$meta = $this->_date->format( $comment['date'] );
					if (
						$this->_acl->check( 'comments_manage' ) ||
						($comment['user_id'] != Ugmanager::_GUEST_ID && $comment['user_id'] == $this->_session->getUserId())
					) {
						$editUrl = $this->_router->makeUrl( 'comments', 'edit', $comment['id'], null, array('inline' => 1) );
						$meta .= '<span class="comments-manage"><a href="'.$editUrl.'">'.t('Edit').'</a></span>';
					}
					printf( $format,
							$comment['id'],
							zula_odd_even($i),
							$prefix.$this->_helper('user')->link( $comment['user_id'], $comment['name'], $comment['website'] ),
							$meta,
							$comment['body']
						);
					++$i;
				}
			?>
		</ol>
	<?php } ?>
</div>