<form action="" method="post">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Article title]}</dt>
						<dd>{L_[Title of the article that will be displayed.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="article[title]" value="{ARTICLE.TITLE}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Category]}</dt>
						<dd>{L_[Select the category the article will be in.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="article[cid]">
						<?php
							foreach( $categories as $cat ) {
								printf( '<option value="%1$d" %2$s>%3$s</option>',
										$cat['id'],
										($article['cid'] == $cat['id'] ? 'selected="selected"' : ''),
										$cat['title']
									   );
							}
						?>
					</select>
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Publish article?]}</dt>
						<dd>{L_[If set to 'no', this article will not be displayed on your website.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="radio" id="articlePublishedYes" name="article[published]" value="1" <?php echo $article['published'] ? 'checked="checked"' : ''; ?>>
					<label class="horizontal" for="articlePublishedYes">{L_[Yes]}</label>
					<br>
					<input type="radio" id="articlePublishedNo" name="article[published]" value="0" <?php echo $article['published'] ? '' : 'checked="checked"'; ?>>
					<label class="horizontal" for="articlePublishedNo">{L_[No]}</label>
				</td>
			</tr>
		</tbody>
	</table>

	{AMC.TABLE}

	<div class="actions"><input type="submit" value="{L_[Update]}"></div>
</form>

<h3>{L_[Article parts]}</h3>

<form action="<?php echo $this->_router->makeUrl( 'article', 'config', 'deletepart'); ?>" method="post">
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Title]}</th>
				<th class="managecol">{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php if ( empty( $parts ) ) { ?>
				<tr class="even">
					<td colspan="3">{L_[There are no parts for this article.]}</td>
				</tr>
			<?php } else { $i = 0; foreach( $parts as $key=>$part ) { ?>
				<tr class="<?php echo zula_odd_even( $i++ ); ?>">
					<td class="checkcol">
						<input type="checkbox" name="article_pids[]" value="<?php echo $part['id']; ?>">
					</td>
					<td><?php echo empty($part['title']) ? sprintf( t('Part %d'), $i ) : $part['title']; ?></td>
					<td class="managecol">
						<a href="<?php echo $this->_router->makeUrl( 'article', 'config', 'editpart', null, array('id' => $part['id']) ); ?>">{L_[Edit]}</a>
					</td>
				</tr>
			<?php } } ?>
		<tbody>
	</table>

	<div class="actions">
		<input type="hidden" name="article_id" value="{ARTICLE_ID}">
		<a class="button" href="<?php echo $this->_router->makeUrl( 'article', 'config', 'addpart', null, array('id' => $article_id) ); ?>">{L_[Add article part]}</a>
		<input type="submit" value="{L_[Delete selected]}">
	</div>
</form>
