<form action="" method="post">
	<table>
		<thead>
			<tr>
				<th colspan="2">{L_[Display]}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Articles per page]}</dt>
						<dd>{L_[The number of articles to be displayed per page.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="number" min="1" max="100" step="1" name="article[per_page]" value="{per_page}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Jump box position]}</dt>
						<dd>{L_[When an article has more than 1 part, a jump-box is shown to quickly navigate to the different parts. Select the position of where it should appear.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="article[jump_box_position]">
						<option value="top" <?php echo $jump_box_position == 'top' ? 'selected="selected"' : ''; ?>>{L_[Top]}</option>
						<option value="bottom" <?php echo $jump_box_position == 'bottom' ? 'selected="selected"' : ''; ?>>{L_[Bottom]}</option>
					</select>
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Show category description?]}</dt>
						<dd>{L_[Toggles whether the article category description should be displayed.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="radio" id="articleCatDescYes" name="article[show_cat_desc]" value="1" <?php echo $show_cat_desc ? 'checked="checked"' : ''; ?>>
					<label class="horizontal" for="articleCatDescYes">{L_[Yes]}</label>
					<br>
					<input type="radio" id="articleCatDescNo" name="media[show_cat_desc]" value="0" <?php echo $show_cat_desc ? '' : 'checked="checked"'; ?>>
					<label class="horizontal" for="articleCatDescNo">{L_[No]}</label>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="actions">
		<input type="submit" value="{L_[Update]}">
	</div>
	{CSRF}
</form>
