<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
	<title>{L_[Permission Denied | 401]}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		body {
			background-color: #413d34;
			font-family: Arial, Verdana, "Bitstream vera sans";
			margin: 30px;
			color: #ffffff;
		}

		h1 {
			color: #b4d72a;
			font-size: 16px;
		}
	</style>
</head>

<body>

	<h1>{L_[Permission Denied | 401]}</h1>
	<p>{CONTROLLER}</p>

</body>

</html>
