# $Id: .htaccess 2768 2009-11-13 18:12:34Z alexc $

###
# Zula Framework .htaccess file
###

### Rewrite Rules, used with 'SEF' routers
<IfModule mod_rewrite.c>	
	RewriteEngine on

	# The following RewriteBase will need changing if TangoCMS
	# is running within a subdirectory (can also be the cause of
	# 500/Internal Server Errors).
	#
	# This file should have its RewriteBase suffixed with /install
	#
	# EG, TangoCMS running in subdir of /tcm, use the following:
	# RewriteBase /tcm/install
	#
	#RewriteBase /install

	RewriteCond %{SCRIPT_FILENAME} !-f
	RewriteCond %{SCRIPT_FILENAME} !-d [OR]	
	RewriteCond %{REQUEST_URI} !/stage/one$
	RewriteCond %{REQUEST_URI} !/upgrade/stage1$
	RewriteRule ^(.*)$ index.php?url=$1 [QSA]
</IfModule>
