<form action="<?php echo $this->_router->makeUrl( 'content_layout' ); ?>" method="get">
	<?php if ( $this->_router->getType() == 'standard' ) { ?>
		<div><input type="hidden" name="url" value="<?php echo $this->_router->getRawRequestPath(); ?>"></div>
	<?php } ?>
	<p>
		<label for="content_layout-site-select" class="horizontal">{L_[Manage layouts for site type:]}</label>
		<select id="content_layout-site-select" name="type">
			<?php
				$format = '<option value="%1$s" %2$s>%3$s</option>';
				foreach( $this->_router->getSiteTypes() as $type ) {
					$selected = $type == $site_type ? 'selected="selected"' : '';
					printf( $format, $type, $selected, ucfirst($type) );
				}
			?>
		</select>
		<input type="submit" value="{L_[Update]}">
	</p>
</form>