<form action="" method="post">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Name]}</dt>
						<dd>{L_[Name of the group.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="group[name]" value="{GROUP.NAME}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Inherit Permissions From]}</dt>
						<dd>{L_[Select the group that permissions will be inherited from. You almost always want to inherit from at least a guest group.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="group[inherits]">
						<option value="0">{L_[No Inheritance]}</option>
						<?php
							foreach( $groups as $tmpGroup ) {
								if ( $tmpGroup['id'] != Ugmanager::_ROOT_GID ) {
									printf( '<option value="%1$d" %2$s>%3$s</option>',
											 $tmpGroup['id'],
											 ($tmpGroup['id'] == $group['inherits'] ? 'selected="selected"' : ''),
											 $tmpGroup['name']
										  );
								}
							}
						 ?>
					</select>
				</td>
			</tr>
		</tbody>
	</table>

	{AMC.TABLE}

	<div class="actions">
		<input type="submit" value="<?php echo $op == 'add' ? t('Add Group') : t('Edit Group'); ?>">
	</div>
</form>
