<form action="" method="post">
	<table>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Name]}</dt>
						<dd>{L_[Name of the group.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="text" name="group[name]" value="{GROUP.NAME}">
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Inherit permissions from]}</dt>
						<dd>{L_[Select the group that permissions will be inherited from. You almost always want to inherit from at least a guest group.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="group[inherits]">
						<option value="0">{L_[No inheritance]}</option>
						<?php
							foreach( $groups as $tmpGroup ) {
								if ( $tmpGroup['id'] != Ugmanager::_ROOT_GID ) {
									printf( '<option value="%1$d" %2$s>%3$s</option>',
											 $tmpGroup['id'],
											 ($tmpGroup['id'] == $group['inherits'] ? 'selected="selected"' : ''),
											 $tmpGroup['name']
										  );
								}
							}
						 ?>
					</select>
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Group status]}</dt>
						<dd>{L_[If a group status is 'Locked', users within that group will be logged out and no new logins will be allowed.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="radio" id="groups-status-active" name="group[status]" value="active" <?php echo $group['status'] == 'active' ? 'checked="checked"' : ''; ?>>
					<label for="groups-status-active" class="horizontal">{L_[Active]}</label>
					<br>
					<input type="radio" id="groups-status-locked" name="group[status]" value="locked" <?php echo $group['status'] == 'locked' ? 'checked="checked"' : ''; ?>>
					<label for="groups-status-locked" class="horizontal">{L_[Locked]}</label>
				</td>
			</tr>
		</tbody>
	</table>

	{AMC.TABLE}

	<div class="actions">
		<input type="submit" value="<?php echo $op == 'add' ? t('Add group') : t('Edit group'); ?>">
	</div>
</form>
