<form action="<?php echo $this->_router->makeUrl( 'groups' ); ?>" method="post">
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Name]}</th>
				<th>{L_[Total Users]}</th>
				<th>{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php $i = 0; foreach( $groups as $group ) { ?>
				<tr class="<?php echo zula_odd_even( $i ); ?>">
					<td class="checkcol">
						<?php $disabled = $group['id'] == UGManager::_ROOT_GID || $group['id'] == UGManager::_GUEST_GID ? 'disabled="disabled"' : ''; ?>
						<input type="checkbox" name="group_ids[]" value="<?php echo $group['id']; ?>" <?php echo $disabled; ?>>
					</td>
					<td>
						<?php
							if ( isset( $group['level'] ) ) {
								echo str_repeat( '---', $group['level'] ).' ';
							}
							echo $group['name'];
						?>
					</td>
					<td><?php echo number_format($group['user_count']); ?></td>
					<td class="managecol">
						<?php if ( $group['id'] != UGManager::_ROOT_GID ) { ?>
							<a href="<?php echo $this->_router->makeUrl( 'groups', 'index', 'edit', null, array('id' => $group['id']) ); ?>">{L_[Edit]}</a>
						<?php } ?>
					</td>
				</tr>
			<?php $i++; } ?>
		</tbody>
	</table>

	<div class="actions">
		<input type="submit" name="groups_purge" value="{L_[Purge Selected]}">
		<input type="submit" name="groups_delete" value="{L_[Deleted Selected]}">
	</div>
	{CSRF}
</form>
