<form action="" method="post">
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Name]}</th>
				<th>{L_[Total users]}</th>
				<th>{L_[Status]}</th>
				<th>{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php $i = 0; foreach( $groups as $group ) { ?>
				<tr class="<?php echo zula_odd_even( $i ); ?>">
					<td class="checkcol">
						<?php $disabled = $group['id'] == Ugmanager::_ROOT_GID || $group['id'] == Ugmanager::_GUEST_GID ? 'disabled="disabled"' : ''; ?>
						<input type="checkbox" name="group_ids[]" value="<?php echo $group['id']; ?>" <?php echo $disabled; ?>>
					</td>
					<td>
						<?php
							if ( isset( $group['level'] ) ) {
								echo str_repeat( '---', $group['level'] ).' ';
							}
							echo $group['name'];
						?>
					</td>
					<td><?php echo number_format($group['user_count']); ?></td>
					<td><?php echo $group['status'] == 'active' ? t('Active') : t('Locked'); ?></td>
					<td class="managecol">
						<?php if ( $group['id'] != Ugmanager::_ROOT_GID ) { ?>
							<a href="<?php echo $this->_router->makeUrl( 'groups', 'index', 'edit', null, array('id' => $group['id']) ); ?>">{L_[Edit]}</a>
						<?php } ?>
					</td>
				</tr>
			<?php $i++; } ?>
		</tbody>
	</table>

	<div class="actions">
		<select name="groups_action">
			<optgroup label="{L_[Bulk actions]}">
				<option value="purge">{L_[Purge]}</option>
				<option value="delete">{L_[Delete]}</option>
				<option value="lock">{L_[Lock]}</option>
				<option value="unlock">{L_[Unlock]}</option>
			</optgroup>
		</select>
		<input type="submit" value="{L_[Apply]}">
	</div>
	{CSRF}
</form>
