<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SEF Router">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" negate="true" pattern="" ignoreCase="false" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
                <rule name="RequestBlockingRule1">
                    <match url=".*" />
                    <conditions>
                        <add input="{URL}" pattern="(?:/application/logs(?:/.*?\.log)?|/tmp/cache/.*?|/config/.*?/(?:layouts/.*\.xml|config\.ini\.php)|/application/modules/.*?/install\.(?:xml|sql)|/assets/uploads/media/.*?)(?:/|$)" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
