<?php if ( !empty( $pages ) ) { ?>
	<div class="jsSearchBox">
		<p><label class="horizontal" for="page-name">{L_[Search pages:]}</label> <input type="search" id="page-name"></p>
	</div>
<?php } ?>
<form method="post" action="<?php echo $this->_router->makeUrl( 'page', 'config', 'delete' ); ?>">
	<table class="contentdata">
		<thead>
			<tr>
				<th class="checkcol"></th>
				<th>{L_[Title]}</th>
				<th>{L_[Author]}</th>
				<th class="managecol">{L_[Manage]}</th>
			</tr>
		</thead>
		<tbody>
			<?php if ( empty( $pages ) ) { ?>
				<tr class="even">
					<td colspan="4">{L_[No pages to display.]}</td>
				</tr>
			<?php } else { $i = 0; foreach( $pages as $page ) { ?>
				<tr class="<?php echo zula_odd_even( $i ); ?>">
					<td class="checkcol">
						<input type="checkbox" name="page_ids[]" value="<?php echo $page['id']; ?>">
					</td>
					<td>
						<a href="<?php echo $this->_router->makeUrl( 'page', 'index', $page['clean_title'], 'main' ); ?>"><?php echo zula_snippet( $page['title'], 50, true ); ?></a>
					</td>
					<td><?php echo $this->_helper('user')->link( $page['author'] ); ?></td>
					<td class="managecol">
						<a href="<?php echo $this->_router->makeUrl( 'page', 'config', 'edit', null, array('id' => $page['id']) ); ?>">{L_[Edit]}</a>
						<a href="<?php echo $this->_router->makeUrl( 'page', 'config', 'add', null, array('pid' => $page['id']) ); ?>">{L_[Add subpage]}</a>
					</td>
				</tr>
			<?php ++$i; } } ?>
		</tbody>
	</table>

	<?php if ( !empty( $pages ) ) { ?>
		{PAGINATION}
		<div class="actions"><input name="page_delete" type="submit" value="{L_[Delete selected]}"></div>
		{CSRF}
	<?php } ?>

</form>