<form action="<?php echo $this->_router->makeUrl( 'settings', 'update', 'language' ); ?>" method="post">
	<table>
		<thead>
			<tr>
				<th colspan="2">{L_[General Language]}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Install Language Package]}</dt>
						<dd>{L_[Install a language package.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="lang_pkg">
						<option value="none" selected="selected">{L_[None]}</option>
						<?php
							if ( ini_get( 'allow_url_fopen' ) ) {
								$cached = true;
								if ( ($json = $this->_cache->get( 'settings/lang_pkgs' )) == false ) {
									$cached = false;
									$stream = stream_context_create( array(
														'http' => array(
																'method' => 'GET',
																'header' =>	'X-TangoCMS-Version: '._PROJECT_VERSION."\r\n".
																		'X-TangoCMS-USI: '.zula_hash( $_SERVER['HTTP_HOST'] )."\r\n",
																'timeout' => 6,
																)
														));
									$version = str_replace( '-', '/', zula_version_map( _PROJECT_VERSION ) );
									$json = @file_get_contents( 'http://releases.tangocms.org/'.$version.'/i18n/locales.json', false, $stream );
								}
								if ( isset( $http_response_header[0] ) && strpos( $http_response_header[0], '200' ) !== false ) {
									if ( !$cached ) {
										$this->_cache->add( 'settings/lang_pkgs', $json, true );
									}
									$json = json_decode( $json );
									$installedLocales = array();
									$iterator = new DirectoryIterator( $this->_zula->getDir( 'locale' ) );
									foreach( $iterator as $finfo ) {
										if ( $finfo->isDir() ) {
											$installedLocales[] = $finfo->getFilename();
										}
									}
									foreach( $json as $arr ) {
										if ( !in_array( $arr[0], $installedLocales ) )
											printf( '<option value="%1$s">%2$s</option>', $arr[0], $arr[1] );
									}
								}
							}
						?>
					</select>
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Reload language list?]}</dt>
						<dd>{L_[If set to 'yes', the list of languages available to be restored will be refreshed.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<input type="radio" id="list-refresh-yes" name="langlist_refresh" value="1">
					<label class="horizontal" for="list-refresh-yes">{L_[Yes]}</label>
					<br>
					<input type="radio" id="list-refresh-no" name="langlist_refresh" value="0" checked="checked">
					<label class="horizontal" for="list-refresh-no">{L_[No]}</label>
				</td>
			</tr>
			<tr class="even">
				<td>
					<dl>
						<dt>{L_[Default Language]}</dt>
						<dd>{L_[Select the default language to use on the website.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="setting[locale/default]">
						<option value="en_US.UTF-8">English (US)</option>
						<?php
							$settings = glob( $this->_zula->getDir( 'locale' ) . '/*/settings.json' );
							if ( $settings != null ) {
								foreach( $settings as $json ) {
									$json = json_decode( file_get_contents( $json ) );
									foreach( $json as $arr ) {
										printf( '<option value="%1$s.UTF-8" %2$s>%3$s</option>',
											$arr->locale,
											(strncmp( $config['default'], $arr->locale, 4 ) == 0) ? 'selected="selected"' : '',
											$arr->lang
										);
									}
								}
							}
						?>
					</select>
				</td>
			</tr>
			<tr class="odd">
				<td>
					<dl>
						<dt>{L_[Locale Engine]}</dt>
						<dd>{L_[Set the backend used to translate the interface.]}</dd>
					</dl>
				</td>
				<td class="confcol">
					<select name="setting[locale/engine]">
						<?php
							$availableBackends = array( 'failsafe', 'gettext', 'php' );
							foreach( $availableBackends as $backend ) {
								printf( '<option value="%1$s" %2$s>%3$s</option>',
										$backend,
										($backend == $config['engine']) ? 'selected="selected"' : '',
										ucfirst( $backend )
									);
							}
						?>
					</select>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="actions"><input type="submit" value="{L_[Update]}"></div>
	{CSRF}

</form>
