<p>
	<?php printf( t('Thank you for choosing %s!'), _PROJECT_NAME ); ?>
	{L_[From this setup you can either install a new version, or upgrade your currently installed application to the latest version.]}
</p>

<ul>
	<li>
		<a href="<?php echo $this->_router->makeUrl('install', 'checks'); ?>"><?php printf( t('Install %s'), _PROJECT_NAME ); ?></a>
	</li>
	<li>
		<a href="<?php echo $this->_router->makeUrl('upgrade', 'version'); ?>"><?php printf( t('Upgrade %s'), _PROJECT_NAME ); ?></a>
	</li>
</ul>
